@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.session-timer{
  border-radius:20px;
  font-family: 'Orbitron', sans-serif;
  width:350px;
  height:500px;
  background-color: #888888;
  border-style: outset;
}

.title-text{
  margin:5px;
  font-size: 1.4rem;
  color:silver;
  text-shadow: black 1px 1px 2px;
  text-decoration: solid;
  
}

.main-display{
 width:80%;
  margin:auto;
  margin-top:10px;
 background:black;
  border-style:inset;
  border-radius:10px;
}
.session-display{
  text-align: left;
  margin-left:10px;
  font-size: 1rem;
  color:green;
}

.timer-display{
  align-items: center;
  color:rgb(1, 255, 1);
  font-size: 4rem;
  padding-top:none;
}

.start, .reset{
  font-size:1rem;
  color:rgb(9, 255, 0);
  width:80px;
  margin:20px;
  background:rgb(83, 83, 83);
  border:none;
  border-style: outset;
  box-shadow: 1px 1px #282c34;
  border-radius: 10px;
}
.start:active, .reset:active{
  transform: translate(1px,1px);
  box-shadow: none;
}

.controls{
  display:flex;
  justify-content: space-around;
  border:1px solid greenyellow;
}
.session-controls{
  color:black;
 text-align: center;
  width:120px;
  border: 1px solid blue;
}
.break-controls{
  border:1px solid red;
}
.variable-display{
  align-items: center;
  color:rgb(1, 255, 1);
  width:50%;
  margin:auto;
  margin-top:0px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  background:black;
  border-style:inset;
  border-radius:10px;
}

.control-button{
  margin-top:3px;
  margin-bottom:0px;
  color:rgb(9, 255, 0);
  width:50px;
  height:30px;
  background:rgb(83, 83, 83);
  border:none;
  border-style: outset;
  box-shadow: 1px 1px #282c34;
  border-radius: 10px;
}


.circ{
  display:inline-flex;
  align-self: center;
  box-shadow:0px 0px 9px red;
  margin-top:5px;
  margin-left:20px;
  width:20px;
  height:20px;
  border-radius: 50%;
  background:radial-gradient(rgb(255, 30, 30),rgb(104, 0, 0));
  border-style:inset;

}

.circ:hover{
  box-shadow:0px 0px 0px rgb(5, 0, 0);
  margin-left: 20px;
  width:20px;
  height:20px;
  border-radius: 50%;
  background:radial-gradient(rgb(185, 2, 2),rgb(0, 0, 0));
  border-style:inset;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
